# Disable PHP execution in this folder
php_flag engine off

# Prevent access to .htaccess itself
<Files ".htaccess">
    Order Allow,Deny
    Deny from all
</Files>

# Only allow these files to be viewed
<FilesMatch "\.(jpg|jpeg|png|pdf)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>